<launch>

<rosparam file="$(find quadruped_description)/launch/controller.yaml" command="load"/>
<node args="leg_drive_1_position_controller leg_drive_2_position_controller leg_drive_3_position_controller leg_drive_4_position_controller knee_drive_1_position_controller knee_drive_2_position_controller knee_drive_3_position_controller knee_drive_4_position_controller leg_rev_free_1_position_controller leg_rev_free_2_position_controller leg_rev_free_3_position_controller leg_rev_free_4_position_controller leg_rev_free_5_position_controller leg_rev_free_6_position_controller leg_rev_free_7_position_controller leg_rev_free_8_position_controller body_leg_free_1_position_controller body_leg_free_2_position_controller body_leg_free_3_position_controller body_leg_free_4_position_controller leg_rev_free_9_position_controller leg_rev_free_10_position_controller leg_rev_free_11_position_controller leg_rev_free_12_position_controller joint_state_controller " name="controller_spawner" ns="quadruped" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/quadruped/joint_states"/>
</node>

</launch>