<launch>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find quadruped_control)/config/quadruped_control.yaml" command="load"/>

    <!-- load the controllers -->
    <!-- ensure that all the joints defined in the quadruped_control.yaml file are passed as parameters to args prop -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/quadruped" args="Hip1_position_controller joint_state_controller"/>

    <!-- convert joint states to TF transforms for rviz etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/quadruped/joint_states"/>
    </node>

</launch>
